.advices {
  @include resetMargins;
  @include noMarkers;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 26px;
}

.advices__item {
  width: $mobile-width;
  min-height: 100px;
  padding-left: 70px;

  text-align: left;

  background-position: top left;
  background-repeat: no-repeat;
  background-size: 39px;
}

.advices__item--house {
  background-image: url("../img/icon-house.svg");
  background-position: top left 21px;
}

.advices__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-size: 32px;
  background-position: top 3px left 25px;
}

.advices__item-break {
  display: none;
}

.advices__item--food {
  background-image: url("../img/icon-burger.svg");
  background-position: top 9px left 18px;
}

.advices__item-header {
  margin-top: 10px;
  margin-bottom: 0;

  color: $font-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advices__item--souvenirs .advices__item-header {
  margin-top: 14px;
}

.advices__item--food .advices__item-header {
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .advices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 58px;
    padding-bottom: 47px;
    padding-left: 0;
    padding-right: 0;
  }

  .advices__item {
    @include resetMargins;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    background-position: top 1px center;
    background-size: 75px;
  }

  .advices__item.advices__item--souvenirs {
    order: 2;
    margin-right: 0;

    background-position: top center;
    background-size: 62px;
  }

  .advices__item--food {
    margin-right: 0;

    background-position: top 5px center;
  }

  .advices__item--souvenirs .advices__item-header,
  .advices__item--food .advices__item-header {
    @include resetMargins;

    margin-bottom: 11px;
    padding-top: 2px;
  }

  .advices__item-header {
    @include resetMargins;

    margin-bottom: 11px;
    padding-top: 2px;

    font-size: 21px;
    line-height: 21px;
  }

  .advices__item-text {
    width: 158px;

    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .advices {
    justify-content: space-between;
    width: $desktop-width;
    padding-bottom: 68px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .advices__item-text {
    width: 258px;
  }

  .advices__item--food .advices__item-text {
    width: 286px;
  }

  .advices__item--food {
    background-position: top 4px center;
  }

  .advices__item.advices__item--souvenirs {
    background-position: top center;
  }

  .advices__item-break {
    display: inline;

    vertical-align: top;
  }
}
