.button {
  @include buttonBlue;

  display: inline-block;
  height: 58px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 46px;
  padding-right: 46px;

  color: $font-white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: $bg-blue;
}
