.features {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.features__lead {
  position: relative;

  order: -1;
  width: $mobile-width;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;

  line-height: 26px;
}

.features__lead::after {
  @include pseudoAbsolute;

  top: 100%;
  left: 50%;
  z-index: 2;

  width: 100vw;
  height: 41px;

  background-color: transparent;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;

  transform: translateX(-50vw);
}

.features__item:first-of-type {
  order: -1;
}

.features__item {
  order: 1;
}

@media (min-width: $tablet-width) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__lead {
    width: 541px;
    margin-top: 17px;
    margin-bottom: 49px;
  }
}
