.features {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.features__lead {
  order: -1;

  width: $mobile-width;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;

  line-height: 26px;
}

.features__item:first-of-type {
  order: -1;
}

.features__item {
  order: 1;
}

@media (min-width: $tablet-width) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__lead {
    width: 541px;
    margin-top: 17px;
    margin-bottom: 49px;
  }
}
