.index-main__banner {
  min-height: 389px;
  background-color: $bg-banner;
  background-image:
    url("../../img/text-sedona-index.svg"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
