.index-main__banner {
  position: relative;
  left: calc(50% - 50vw);

  width: 100vw;
  min-height: 389px;

  color: $font-white;

  background-color: $bg-banner;
  background-image:
    url("../../img/text-sedona-index.svg"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-position:
    center,
    top center;
  background-size:
    281px,
    cover;
  background-repeat: no-repeat;
}

.index-main__banner::before,
.index-main__banner::after {
  @include pseudoAbsolute;

  top: calc(100% - 26px);

  width: 50%;
  height: 26px;
}

.index-main__banner::before {
  left: 0;

  background: linear-gradient(to right top, $bg-white 50%, rgba($bg-white, 0) 50%);
}

.index-main__banner::after {
  left: 50%;

  background: linear-gradient(to right bottom, rgba($bg-white, 0) 50%, $bg-white 50%);
}

.index-main__lead {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;

  color: $font-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index-main__banner {
    top: 0;
    left: 0;

    width: 100%;
    min-height: 518px;

    background-image:
      url("../../img/text-sedona-index.svg"),
      url("../../img/bg-back-tablet@1x.jpg");
    background-position:
      top 77px center,
      top center;
    background-size: 461px, cover;
  }

  .index-main__banner::before,
  .index-main__banner::after {
    top: calc(100% - 36px);
    height: 36px;
  }

  .index-main__lead {
    position: relative;
  }

  .index-main__lead::before,
  .index-main__lead::after {
    @include pseudoAbsolute;

    top: -57px;

    width: 351px;
    height: 57px;
  }

  .index-main__lead::before {
    right: 50%;

    background: linear-gradient(to right top, $bg-white 50%, rgba($bg-white, 0) 50%);
  }

  .index-main__lead::after {
    left: 50%;

    background: linear-gradient(to right bottom, rgba($bg-white, 0) 50%, $bg-white 50%);
  }
}

@media (min-width: $desktop-width) {
  .index-main__banner {
    background-image:
      url("../../img/text-sedona-index.svg"),
      url("../../img/bg-back-desktop@1x.jpg");
  }

  .index-main__banner::before,
  .index-main__banner::after {
    top: calc(100% - 57px);
    height: 57px;
  }
}
