.location__map {
  position: relative;

  min-height: 351px;

  background-color: $bg-map;
  background-image: url("../../img/bg-map-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.location__map::before {
  @include pseudoAbsolute;
  $size: 27px;

  top: calc(50% - 15px);
  left: calc(50% - 14px);

  width: $size;
  height: $size;

  background-color: $bg-white;
  background-image: url("../../img/icon-map-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.location__map--interactive {
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .location__map {
    background-image: url("../../img/bg-map-tablet@1x.jpg");
  }

  .location__map::before {
    top: calc(50% - 12px);
  }

  .location__map--interactive {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .location__map {
    width: 1200px;
    background-image: url("../../img/bg-map-desktop@1x.jpg");
  }

  .location__map--interactive {
    display: none;
  }
}
