.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: calc(50% - 147px);
  z-index: 5;

  background-color: transparent;
  border: none;
}

.main-nav__toggle-cross {
  fill: $bg-white;
}

.main-nav__toggle-menu {
  fill: $bg-blue;
}

.main-nav__toggle:hover .main-nav__toggle-cross,
.main-nav__toggle:hover .main-nav__toggle-menu {
  fill-opacity: 0.6;
}

.main-nav__toggle:active .main-nav__toggle-cross,
.main-nav__toggle:active .main-nav__toggle-menu {
  fill-opacity: 0.3;
}

.main-nav__toggle--opened .main-nav__toggle-menu {
  display: none;
}

.main-nav__toggle--opened .main-nav__toggle-cross {
  display: block;
}

.main-nav__toggle--closed .main-nav__toggle-cross {
  display: none;
}

.main-nav__toggle--closed .main-nav__toggle-menu {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    min-height: 56px;
  }
}
