.page-header {
  position: relative;
  min-height: 55px;
}

.page-header__logo {
  position: absolute;
  top: calc(100% - 1px);
  left: calc(50% - 51px);
  z-index: 2;

  box-shadow: 0 -5px 0 0 rgba($bg-blue, 0.5);
}

.page-header__nav {
  margin-bottom: 55px;
}
