.page-nav {
  @include resetMargins;
  @include noMarkers;

  color: $font-white;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: $bg-blue;
}

.page-nav__item a {
  @include buttonBlue;

  position: relative;
  top: auto;
  left: calc(50% - 50vw);

  display: block;
  width: 100vw;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  white-space: nowrap;

  box-shadow:
    inset 0 -1px 0 0 rgba($font-black, 0.2),
    inset 0 1px 0 0 rgba($font-white, 0.2);
}

.page-nav__item:first-of-type a {
  box-shadow: inset 0 -1px 0 0 rgba($font-black, 0.2);
}

.page-nav__item:last-of-type a {
  box-shadow:
    inset 0 -1px 0 0 $bg-white,
    inset 0 -3px 3px 0 rgba($font-black, 0.2),
    inset 0 1px 0 0 rgba($font-white, 0.2);
}

@media (min-width: $tablet-width) {
  .page-nav {
    display: flex;
    width: 100%;

    color: $font-black;

    background-color: $bg-white;
  }

  .page-nav__item {
    max-width: 155px;
  }

  .page-nav__item a {
    @include anchorBlack;

    position: static;

    width: auto;
    padding-top: 14px;
    padding-left: 25px;
    padding-right: 25px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    box-shadow: none;
  }

  .page-nav__item--active a {
    color: $font-brown;

    &:hover {
      color: $font-dark-brown;
    }

    &:active {
      color: rgba($font-brown, 0.3);
    }
  }

  .page-nav__item:first-of-type a {
    padding-left: 49px;
    padding-right: 51px;

    box-shadow: none;
  }

  .page-nav__item:nth-of-type(4n+1) a {
    padding-left: 49px;
    padding-right: 51px;
  }

  .page-nav__item:last-of-type a {
    padding-right: 27px;

    box-shadow: none;
  }

  .page-nav__item:nth-of-type(4n) a {
    padding-right: 27px;
  }

  .page-nav__item:nth-of-type(4n + 2) {
    margin-right: 161px;
  }
}

@media (min-width: $desktop-width) {
  .page-nav__item {
    max-width: 234px;
  }

  .page-nav__item:nth-of-type(4n+2) {
    margin-right: 161px;
  }

  .page-nav__item:nth-of-type(4n+3) {
    margin-left: auto;
  }

  .page-nav__item:first-of-type a,
  .page-nav__item:nth-of-type(4n+1) a {
    padding-left: 92px;
    padding-right: 80px;
  }

  .page-nav__item:nth-of-type(4n+2) a {
    padding-left: 81px;
    padding-right: 58px;
  }

  .page-nav__item:nth-of-type(4n+3) a {
    padding-left: 42px;
    padding-right: 74px;
  }

  .page-nav__item:nth-of-type(4n) a {
    padding-right: 71px;
    padding-left: 65px;
  }
}
