.photo__like-button {
  width: 23px;
  height: 21px;

  background-color: $bg-white;
  background-image: url("../../img/icon-like.svg");
  background-position: top left;
  background-repeat: no-repeat;
  border: none;
}
