.photo {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 22px;
  padding-bottom: 17px;
}

.photo::before {
  @include pseudoAbsolute;

  bottom: 0;
  left: calc(50% - 50vw);

  width: 100vw;
  height: 1px;

  background-color: rgba($bg-black, 0.1);
}

.photo__header {
  margin-bottom: 0;

  color: $font-black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo__img-wrapper {
  order: -1;
}

.photo__author {
  @include resetMargins;

  text-transform: none;
}

.photo__like {
  @include resetMargins;

  padding-top: 8px;
}

.photo__like-button {
  width: 23px;
  height: 21px;
  margin-right: 10px;

  background-color: transparent;
  background-image: url("../../img/icon-like.svg");
  background-position: top left;
  background-repeat: no-repeat;
  border: none;
}

.photo__like-amount {
  color: $font-black;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .photo {
    padding-top: 0;
    padding-bottom: 16px;

    background-color: $bg-form-field;
  }

  .photo:not(:first-of-type) {
    width: 324px;
  }

  .photo::before {
    display: none;
  }

  .photo__header {
    margin-top: 7px;
    margin-left: 21px;
  }

  .photo__author-wrapper {
    display: flex;
    margin-left: 21px;
    margin-right: 20px;
  }

  .photo__author {
    margin-right: auto;
  }

  .photo__like {
    @include resetMargins;

    position: relative;
    bottom: 11px;

    min-width: 64px;
  }

  .photo__like-button {
    margin-right: 5px;
  }
}
