html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include resetMargins;

  color: $font-dark;
  font-family: "PT Sans", "Trebuchet MS", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: $bg-white;
}

body > * {
  margin: 0 auto;
}

a {
  color: $font-black;
  text-decoration: none;

  &:active {
    color: rgba($font-black, 0.3);
  }

  &:hover {
    color: $font-hover-blue;
  }
}

@media (min-width: $tablet-width) {
  body > * {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    background-color: $bg-form-field;
  }

  body > * {
    width: $desktop-width;
  }
}
