@mixin resetMargins {
  margin: 0;
  padding: 0;
}

@mixin setWidth($width) {
  width: $width;
  box-sizing: border-box;
}

@mixin noMarkers {
  list-style: none;
}

@mixin pseudoAbsolute {
  position: absolute;

  content: "";
}

@mixin buttonBlue {
  color: $font-white;
  text-align: center;

  background-color: $bg-blue;

  &:hover {
    color: $font-white;

    background-color: $bg-hover-blue;
  }

  &:active {
    color: rgba($font-white, 0.3);

    background-color: $bg-active-blue;
  }

  &--disabled {
    background-color: $bg-button-disabled;
  }
}

@mixin anchorBlack {
  color: $font-black;

  background-color: $bg-white;

  &:hover {
    color: $font-hover-blue;

    background-color: inherit;
  }

  &:active {
    color: rgba($font-black, 0.3);

    background-color: inherit;
  }
}

@mixin visuallyHidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
