/* ------ Ширина макета ------ */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

/* ------ Фоновые цвета ------*/
$bg-white: #ffffff;
$bg-blue: #81b3d2;
$bg-light-grey: #eeeeee;

$bg-banner: #a1b1be;
$bg-map: #dee3d1;
